body {
    background-color: whitesmoke;
    font-family: 'Inconsolata', monospace;
}

#film-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    padding: 20px;
}

h1 {
    font-size: 4rem;
    text-align: center;

}

#btn {
    border: 3px solid black;
    font-size: 1em;
    padding: 16px;
    background-color: aliceblue;
    display: flex;
    margin: auto;
    font-weight: bold;
    color: deeppink;
}

#btn:hover {
    border: dotted hotpink;
    transition: .5s;
    padding: 20px;
}
